<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCyFKFApPuwyfMKWdaDBnI5fTX5s-ZVovE</string>
	<key>GCM_SENDER_ID</key>
	<string>875027146134</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vladyslav.petlovyi.chattingApp</string>
	<key>PROJECT_ID</key>
	<string>chattingapp-8c1a3</string>
	<key>STORAGE_BUCKET</key>
	<string>chattingapp-8c1a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:875027146134:ios:3a185a64fcc2de157ba9b7</string>
</dict>
</plist>